body{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.cyan-highlight{
    color: rgb(20, 215, 241);
}

.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/background1.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 200px;
}

.link-button-1{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(20, 215, 241), rgb(72, 243, 220));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.link-button-2{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(231, 106, 106), rgb(236, 160, 116));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-area{
    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-position: right;
}

.center{
    text-align: center;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 9em;
    background-size: 6em;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, lightSalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, cyan, blue);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}
